<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
>>>>>>> 02816059b8f0e09c7f58ac38eb1b0457ba7b7e7b


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
}
nav{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1380px;
    margin: 0 auto;

}
.logo img{
    width: 150px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 5px;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.main{
    max-width: 1380px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
}
.card{
    width: 400px;
    height: 250px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 8px;
    padding: 20px;
    color: rgb(33, 37, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.card p{
    color: rgb(108, 117, 125);
    font-size: 16px;
}
.card button{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(13, 109, 183);
    background: transparent;
    color: rgb(13, 109, 183);
    font-size: 20px;
    cursor: pointer;

}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.inner-div{
    background-color: #fff;
    padding: 30px 80px;
    border-radius: 10px;
    box-shadow: 0 10px 10px -7px rgba(0 , 0 , 0.4);
}
.inner-div h2{
    font-size: 35px;
    font-weight: 400;
    margin-top: 10px 0px 40px 0px;
}
.inner-div li{
    font-size: 20px;
    margin-top: 15px;
    list-style: none;
}
input:hover{
    cursor: pointer;
}
#next, #start ,#submit, .btn{
    padding: 10px 30px ;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #74b9ff;
    margin-top: 40px;
    border-radius: 6px;
}
#submit:hover{
    background-color: blanchedalmond;
}
#showScore{
    background-color: #dfe6e9;
    margin-top: 30px;
    padding: 30px 40px;
    box-shadow: 0 10px 10px -7px rgba(0 , 0, 0 , 0.4);
}
.scoreArea{
    display: none;
}
.time> p, .time>span{
    display: inline-block;
    margin-right: 10px;
    color: #74b9ff;
    font-size: 12px;
    font-weight: 700;
    right: 5px;
    margin-bottom: 20px;
}
.time{
    text-align: end;
}
label{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}