
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border: 3px;
    --color1: #6be89b;
    --color2: #0076a5;
    --from: 30deg;
    --distance: 20%;
  }

html{
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
}
.container{
    height: 100vh;
}
#landingPage {
    text-align: center;
    background-color: #E9ECEF;
    padding: 100px 10px 100px 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.loginCon{
    display: none;
    width: 100%;
    background-color: #c1e6ff;
    background-image: linear-gradient(297deg, #c1e6ff 46%, #ffffff 100%);
    height: 80%;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 85px !important;
    color: #106FB8 !important;
}

#landingPage p {
    color: #666;
    font-size: 30px;
    font-weight: 300;
}
.startText{
    color: black !important;
    font-size: 1.5rem !important;
    font-weight: 700 !important;

}
#landingPage button {
    color: #fff;
    border: none;
    padding: 18px 80px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
}

#loginForm {
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 16px;

}
#loginForm label,
#loginForm input{
    display: inline-block;
   
}
#loginForm label{
    width: 150px;
    text-align: left;
}
.right, .left{
    display: flex;
    flex-direction: column;
    width: 50%;

    
}
.left img{
  height: 100%;
}
.right{
  height: 90%;
  justify-content: center;

}
.right >p:first-child{
  margin: 0px 0px 15px 0px;
}

#loginForm h2, #signupCard h2 {
    color: #333;
}
.right p{
  font-size: 20px;
  margin-bottom: 10px;
}
.right span{
  font-size: 25px;
  font-weight: 700;

}
.right small{
  font-size: 15px;
  color: #666;
  margin-top: 20px;
  cursor: pointer;
}
#loginForm input, #signupCard input {
    width: 400px;
    height: 50px;
    margin: 5px;
    padding: 5px 5px 5px 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}

#loginForm button, #signupCard button {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    width: 390px;
    padding: 10px 0px ;
    margin: 0 auto;
    margin-top: 10px;
}
.user{
  position: relative;
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.user span{
  position: absolute;
  left: 15px;
}
nav{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1380px;
    margin: 0 auto;

}
.logo img{
    width: 150px;
}
#profile{
    display: none;
    align-items: center;
    gap: 5px;
}
#profileName{
  text-transform: capitalize;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.main{
    max-width: 1380px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    
}
.card{
    width: 400px;
    height: 250px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 8px;
    padding: 20px;
    color: rgb(33, 37, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.card p{
    color: rgb(108, 117, 125);
    font-size: 16px;
}
.card button{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(13, 109, 183);
    background: transparent;
    color: rgb(13, 109, 183);
    font-size: 20px;
    cursor: pointer;

}
#showScore h3{
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 165px;
    
}
button:hover{
    cursor: pointer;
}
h3{
    margin: 0;
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.innerDiv{
    background-color: #fff;
    padding: 30px 80px;
    border-radius: 10px;
    box-shadow: 0 10px 10px -7px rgba(0 , 0 , 0.4);
    display: none;
    width: 100%;
}
.innerDiv h2{
    font-size: 35px;
    font-weight: 400;
    margin: 10px 0px 40px 0px;
}
.innerDiv li{
    font-size: 20px;
    padding: 18px 15px;
    list-style: none;
    cursor: pointer;
    border-radius: 8px;
}
.innerDiv li:hover{
    background-color: #ECEFF7;
}
.innerDiv label{
    cursor: pointer;
}
#next, #start ,#submit, .btn{
    padding: 18px 40px ;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #758bfd;
    margin-top: 40px;
    border-radius: 6px;
}
.innerDiv button:hover{
    background-color: #6be89b;
}

#showScore{
    margin-top: 30px;
    padding: 30px 40px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
   text-align: center;
   border-width: 80%;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #0d10ec;
   border: 10px double #0d10ec;
}
.scoreArea{
    display: none;
}
.time> p, .time>span{
    display: inline-block;
    margin-right: 10px;
    color: #0d10ec;
    font-size: 20px;
    font-weight: 700;
    right: 5px;
    margin-bottom: 20px;
}
.time{
    text-align: end;
}

ul{
    margin: 0;
    padding: 0;
}
input[type="radio"]{
    transform: scale(1.5);
}
.result{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#showScore span{
    font-size: 120px;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer{
    height: 100px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer p{
    font-size: 35px;
  }
  footer span{
    color: #007bff;
  }
  .continue-application {
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
  }
  
  .continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
  }
  
  .continue-application > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
  
  .continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
  }
  
  .continue-application > div .folder:before, .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
  }
  
  .continue-application > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
  }
  
  .continue-application > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
  }
  
  .continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
  }
  
  .continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
  }
  
  .continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
  }
  
  .continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  }
  
  .continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
  }
  
  .continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  
  .continue-application:after {
    --r: 45deg;
  }
  
  .continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
  }
  